<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FlightViewWeb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/flight-list" class="nav-link" href="#">Liste des vols</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/flight-add" class="nav-link" href="#">Ajouter un vol</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container"><router-outlet></router-outlet></div>


